<div class="container"
<h1>Partial for meetings</h1>
<%= simple_form_for([current_user, Meeting.new]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :room_id %>
    <p>Start Time</p>
    <%= f.datetime_select :start_time, label: "Start Time"%>
    <br />
    <br />
    <p>End Time</p>
    <%= f.datetime_select :end_time%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
</div>
