<%= simple_form_for([current_user, Meeting.new]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.select :room_id,
      [['Building C - Ruby on Rails Classroom', 1],
      ['Building C - Web Design Classroom', 2],
      ['Building C - Main Co-Working Space', 3],
      ['Building C - Dining Room', 4],
      ['Building K - Blue Room', 5],
      ['Building K - Javascript Classroom (Yellow Room)', 6],
      ['Building K - Fish Room', 7],
      ['Building K - Dining Room', 8]], { include_blank: "Please Select" } %>
    <p>Start Time</p>
    <%= f.datetime_select :start_time, label: "Start Time"%>
    <br />
    <br />
    <p>End Time</p>
    <%= f.datetime_select :end_time%>
  </div>
  <br />

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>

