<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="well well-lg">
        <h2 style="text-align: center">Scheduled Meetings  </h2>
      </div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Scheduled by</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.title %></td>
      <td><%= meeting.start_time %></td>
      <td><%= meeting.end_time %></td>
      <td><%= meeting.user.full_name %></td>
      <td><%= meeting.room.location %></td>
      <td><%= link_to('Leave a Comment', new_comment_path, class: "btn btn-primary btn-lg") %></td>
      <% end %>
    </tr>
  </tbody>
</table>

    <div class="col-md-3">
    </div>
  </div>
</div>
