<div class="row">
  <div class="col-md-4">
    <div class="well well-lg">
      <h3 style="text-align: center">Add a Conference</h3>
    </div>
  <%= render 'room_form' %>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-6">
    <div class="well well-lg">
      <h2 style="text-align: center">Our Conference Rooms</h2>
    </div>
      <% @rooms.each do |room| %>
      <ul>
        <li><%= room.room_name %></li>
        <li><%= image_tag room.photo.url(:medium) %></li>
        <li>Location<%= room.location %></li>
        <li>Description<%= room.description %></li>
      </ul>
      <hr />
          <% end %>
      <%= paginate @rooms %><br />
      <%= page_entries_info @rooms %>
  </div>
  <div class="col-md-1">
  </div>
</div>



