<h1> conference rooms index </h1>
<p><%= render 'room_form' %></p>
<h3> Here are our wonderful conference rooms that are available for your meetings!</h3>

<% @rooms.each do |room| %>
  <%= room.photo %>
  <%= room.room_name %>
  <%= room.location %>
  <%= room.description %>
<% end %>

