<h1>Conference room show page</h1>
<%= render 'meeting_scheduler' %>
<ul>
  <li class="room-info"><%= @room.room_name %></li>
  <li class="room-info">Location: <%= @room.location %></li>
  <li class="room-info"><%= @room.description %></li>
  <li class="room-info"><%= image_tag @room.photo.url(:medium) %></li>
</ul>
<hr />

<h1>Meetings Scheduled for <%= @room.room_name %></h1>
<table id='meetings-table' class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Scheduler</th>
    </tr>
  </thead>

  <tbody>
  <% @room.meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.title %></td>
      <td><%= meeting.start_time %></td>
      <td><%= meeting.end_time %></td>
      <td><%= meeting.user.full_name %></td>
      <td><%= link_to('Leave a Comment', new_comment_path, class: "btn btn-primary btn-lg") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

