<h1>Conference room show page</h1>
<ul>
  <li><%= @room.room_name %></li>
  <li>Location: <%= @room.location %></li>
  <li><%= @room.description %></li>
  <li><%= image_tag @room.photo.url(:medium) %></li>

  <% @room.meetings.each do |meeting| %>
    <%= meeting.title %>
    <%= meeting.start_time %>
    <%= meeting.end_time %>
  <% end %>

